html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url('../assets/logo.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color:rgb(10, 7, 45);
    font-size: 14px;
   
}
.imgZnk{
    background-image: url('../assets/logo.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

}
.miniCartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 1em;
    gap: 1em;
}
.miniCartas>div:hover{
  transform: scale(1.1);
}
.prueba{
    border:30px solid black
}
.fondoBody{
background-color: rgba(0, 0, 0, 0.719);    

}
.fichaCombate{
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
}
.fichaCombate>input{
    width: 50%;
}
.tiradas{
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cajastiradas{
    display: flex;
    justify-content: center; 
    justify-items: center;   
}
.cajaTirada{
    width: 80%;
    height: 30px;
    border: 3px solid aliceblue;
    background-color: black;
    color: greenyellow;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}
.cajaTotal{
    width: 8em;
    height: 4em;
    border: 3px solid aliceblue;
    background-color: black;
    color: greenyellow;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
    padding: 0px;
    border-radius: 15px;
}
.dados10{
    margin-left: 10px;
    width: 20%;
    padding: 10px;
    border: 3px solid yellow;
    background-color: black;
    color: greenyellow;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
}
.selected-card {
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.8);
}
.dataGrid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;  
}
.dataGrid>input{
    width: 60%;
    text-align: center;
    border: 3px solid black;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    margin: 0.5%;
}
.dataGrid>input::placeholder {
    color: aliceblue;
    opacity: 0.8;
  }
.dataGrid > input:hover{
    border: 3px solid yellow;
}
.imagenPj{
    border: 3px solid red;
    max-width: 80%;
    border-radius: 15px;   
}
.col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
}
.col4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    justify-items: center;
    align-items: start;  
}
.col1{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.col1>input[type="text"]{
    width: 100%;
    height: 30px;
    text-align: center;
    border: 3px solid aliceblue;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    margin: 0.5%;
    align-items: center;
}
.col1>input[type="number"]{
    width: 80px;
    height: 30px;
    text-align: center;
    border: 3px solid aliceblue;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 5px;
    margin: 0.5%;
    align-items: center;
}
.col1>input::placeholder {
    color: aliceblue;
    opacity: 0.8;
}
.col1>label {
    margin-top: 10px;
    color: aliceblue;
   text-align: center;
   opacity: 0.8;
}
.col1>input:hover{
    border:3px solid yellow; 
    color: greenyellow;
}
.bordeRed{
    border: 3px solid red;
    border-radius: 15px;
    background-color: black;
    margin-top: 10px;   
}
.gradComp{
    border: 3px solid black;
    border-radius: 15px;  
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,121,9,1) 57%, rgba(0,212,255,1) 100%);
}
.inputVentajas{
    width: 100%;
    height: 30px;
    text-align: center;
    border: 3px solid aliceblue;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    align-items: center;
}
.inputInventario{
    width:100%;
    height: 30px;
    text-align: center;
    
   

    color: #fff9c4;
   /* padding-left: 10px;*/
    background: rgba(0, 0, 0, 0.596);
    border: 1px solid rgba(255, 0, 0, 0.479);
   
    border-radius: 5px;
   
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: 30% 10% 60%;
}
.inputDominio{
    width:100%;
    height: 30px;
   
   
    color: #fff9c4;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.596);

 
   
    border: 1px solid rgba(255, 0, 0, 0.479);
   
    border-radius: 5px;
    align-items: center;
}

.inputArea{
    width:100%;
    min-height: 50px;
    padding-left: 10px;
   
    color: #fff9c4;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.596);
    border: 1px solid rgba(255, 0, 0, 0.479);
   
    border-radius: 5px;
    align-items: center;
    
}
.dominios{
    display: grid;
    grid-template-columns: 1fr;
}
.gridTecnicas{
 display: grid;
 grid-template-columns: 45% 10% 10% 15% 20%;
 margin-top: 20px;
}
.gridTecnicas :hover{
    color:yellow  
}
.barraInternaVida{
    height: 100%;
    background-image: linear-gradient(to right, #FF0000, #800000);
    border-radius: 10px;
    transition: width 0.3s ease; 
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5), 0 0 20px 10px rgba(255, 255, 0, 0.3), 0 0 30px 15px rgba(255, 255, 0, 0.2);
    border-top: 1px solid black;
}
.barraInternaVidaNegativa{
    height: 100%;
    background-image: linear-gradient(to right, #800080, #4B0082);
    border-radius: 10px;
    transition: width 0.3s ease; 
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5), 0 0 20px 10px rgba(255, 255, 0, 0.3), 0 0 30px 15px rgba(255, 255, 0, 0.2);
}
.barraExterna{
    width: 100%;
    height: 20px;
    background-color: yellow;
    border: 2px solid aliceblue;
    border-radius: 10px; 
    margin-top: 5px; 
}
.barraExternaN::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px; 
    background-color: black;
    z-index: 1; 
  }
  .barraExternaN {
    --divisiones: positivaN;
    width: 100%;
    height: 20px;
    background-color: yellow;
    border: 2px solid aliceblue;
    border-radius: 10px; 
    margin-top: 5px; 
    position: relative;
  }
  .barraExternaN {
    --divisiones: positivaN;
    width: 100%;
    height: 20px;
    background-color: yellow;
    border: 2px solid aliceblue;
    border-radius: 10px; 
    margin-top: 5px; 
    position: relative;
  }
  .barraExternaN::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, yellow 1px, transparent 1px);
    background-size: calc(100% / (var(--divisiones) )) 100%;
  }
.barraInterna{
    height: 100%;
    background-color: rgb(47, 196, 255); 
    border-radius: 10px;background-image: linear-gradient(to right, #2fc4ff, #1c8cff);
    transition: width 0.3s ease; 
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5), 0 0 20px 10px rgba(255, 255, 0, 0.3), 0 0 30px 15px rgba(255, 255, 0, 0.2);
}
.barraInternaKen{
    height: 100%;
    background-image: linear-gradient(to right, #00FF00, #008000);
    border-radius: 10px;
    transition: width 0.3s ease; 
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5), 0 0 20px 10px rgba(255, 255, 0, 0.3), 0 0 30px 15px rgba(255, 255, 0, 0.2);
}
.inputKen{
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    width: 100px;
    padding:5px;
    align-items: center;
    text-align: center;
    color: greenyellow;
    margin: 5px;
    font-size: larger;
}
.inputCicatriz{
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    width: 100px;
    padding:5px;
    align-items: center;
    text-align: center;
    color: red;
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
.colBarraVida{
    display: grid;
    grid-template-columns: 25% 35% 20% 20%;  
    justify-items: center;
    align-items: start;   
}
#fases>input:hover{
    font-size: 25px;
}

.inputConsumision{
    border: 2px solid yellow;
    border-radius: 15px;
    background-color: black;
    width: 80px;
    padding:5px;
    align-items: center;
    text-align: center;
    color: greenyellow;
    margin: 5px;
    font-size: larger;
}
.historiaPj{
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 30px;
    min-height: 300px;
    border-radius: 10px;
}
.muertoPJ{
    border: 5px solid rgba(56, 8, 8, 0.603);
    max-width: 80%;
    border-radius: 15px;   
    opacity: 0.2;
}


.miniCartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    justify-items: center;
    margin-top: 1em;
    gap: 1em;
  }
  
  @media screen and (max-width: 768px) {
    .miniCartas {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    }
  }
  
  @media screen and (max-width: 480px) {
    .miniCartas {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    }
  }

  .consolaTiradas {
    width: 100%;
    min-height: 250px; 
    resize: none; 
    background-color: black;
    color: yellow;
    border-radius: 0.5em;
    padding: 2em;
    overflow-y: scroll;
    scroll-padding-bottom: 9999px; /* Valor grande para asegurar que la barra esté siempre en la parte inferior */
  }
  .chatcito{
    background-color: rgba(0, 0, 0, 0.651);
    color: greenyellow;
    width: 90%;
    margin-bottom: 2em;
    padding-left: 1em;
    margin-top: 2em;
    margin-left: 1em;
  }
  .green{
    color: aliceblue;
    white-space: pre-wrap;
  }
  .red{
    color: greenyellow;
    white-space: pre-wrap;
  }
  .contChat {
    min-height: 200px;  
    max-height: 200px; 
    overflow-y: auto;  
    border: 1px solid #ccc;  
    padding: 10px;  
    background-color: black; 
    padding: 1em;
    border-radius: 15px;
}

.cajaMacros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 2em;
}
.macros{
    margin: 2em;
}

.guardados{
    display: grid;
    grid-template-columns:  50% 20% 20%;
}
.botoncinios>button{
    transform: scale(0.8);    
}
.contChat {
height: 400px; /* Ajusta según tus necesidades */
overflow-y: auto; /* Habilita el desplazamiento vertical */
border: 1px solid #ccc; /* Opcional: añade un borde para que sea más visible */
padding: 10px; /* Opcional: añade padding para el contenido */
}

.cartita {
    display: flex;
    border: 3px solid red;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    flex-direction: row;
}

.cartaR {
    display: flex;
    border: 3px solid red;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;

    flex-direction: row;
}
.tresCartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
   
}

.cartita-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.cartaImagenRanking {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cartitaElementos {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    flex: 1; /* Esto hace que .cartita-info ocupe el espacio restante */
    height: 100px; /* Asegura que .cartita-info tenga la misma altura que .cartita-image */
}

.cartita-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    flex: 1; /* Esto hace que .cartita-info ocupe el espacio restante */
    height: 60px; /* Asegura que .cartita-info tenga la misma altura que .cartita-image */
}
.cartita-name {
    font-size: 1.5em;
    margin: 0;
}
.cartita-description {
    font-size: 1em;
    color: aliceblue;
}
.cartita-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dos columnas */
    gap: 10px; /* Espacio entre las cartas */
    padding: 10px; /* Espacio interno del contenedor */
}
.modalus{
    border: 5px solid red;
    border-radius: 9px;
    opacity: 0.9;  
}
.saludNarrador{
    border: 3px solid red;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-items: center;
}
.filaDeCuatro {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas iguales */
    gap: 10px; /* Espacio entre columnas y filas */
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
.filaDeCuatroMasCicatriz {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crea 4 columnas iguales */
    gap: 10px; /* Espacio entre columnas y filas */
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    font-size: 0.8em;
}
.filaDeCuatro p {
    margin: 0; /* Elimina el margen por defecto de los elementos p */
    text-align: center; /* Centra el texto dentro de cada elemento p */
}
.filaDeTres {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 4 columnas iguales */
    gap: 10px; /* Espacio entre columnas y filas */
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
.filaDeTres p {
    text-align: left; /* Alinea el texto a la izquierda */
}
.reglas4columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 1rem; /* Ajusta el espacio entre columnas */
    color: aliceblue;   
}
.cuadros{
    border: 2px solid red;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    background: linear-gradient(135deg, #4CAF50, #2C6B4F);
    display: flex;
    flex-direction: column;
    align-items: center;     /* Centra horizontalmente */
    height: 100%;     
}
.cuadros>p{
    margin: 0;
    font-size:1em;
}
.lumina > tbody :hover{
    color: black;
    text-align: center;
    transform: scale(1.01);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(255, 255, 0, 0.63); 
}
.topCanvas{
    background-color: #d0f0c0;
    color: black;
}
.bordes {
    border: 3px solid black;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
    background-color: #333; /* Puedes ajustar este color según tu preferencia */
}
.lumina > p:hover{
    color: yellow;
    text-align: center;
    transform: scale(1.01);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.616);
}
.reglas2columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 1rem; /* Ajusta el espacio entre columnas */
    color: aliceblue;   
}
.reglas1columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 1rem; /* Ajusta el espacio entre columnas */
    color: aliceblue;      
}
.tecnicaEspecial{
    display: flex;
    flex-direction: column;
}
.tecnica {
    min-height: 200px;
    width:100%;
    height: 30px;
    border: 3px solid aliceblue;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    align-items: center;
    padding: 15px;
}
.historia{
    min-height: 200px;
    width:100%;
    height: 400px;
    color: #fff9c4;
    background-color: rgba(0, 0, 0, 0.685);
    align-items: center;
    padding: 15px;
}
.col6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    justify-items: center;
    align-items: start;  
}
.boton-imagen {
    border: 2px solid #007bff; /* Borde del botón (puedes ajustar el color) */
    border-radius: 50%; /* Bordes redondeados */
    padding: 5px; /* Espacio alrededor de la imagen */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}
.boton-imagen:hover {
box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Efecto de brillo */
transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el cursor */
}


.buscador{
    border: 2px solid aliceblue;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: #00FF00;
}
.tecnicasEspeciales{
    padding: 1em;
    border:3px solid red;
    border-radius: 10px;
   
   /*background-color: linear-gradient(135deg, #89CFF0, #F4A7B9);*/
    margin-top: 2em;
}
.tabNarrador{
    color:#00FF00
}
.poderesEspecialesPj{
    border: 3px solid greenyellow;
   
    background: linear-gradient(135deg, #081923, #1B3A4B);
 
    padding: 1em;
    border-radius: 10px;
    box-shadow: 
    0 0 15px rgba(0, 255, 255, 0.7),
    0 0 25px rgba(0, 255, 255, 0.5),
    0 0 35px rgba(0, 255, 255, 0.3),
    0 0 45px rgba(0, 0, 255, 0.2),
    0 0 60px rgba(255, 0, 255, 0.1);
}
.cadaPoder{
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(135deg, #0F2027, #141616);
  
    /*background: linear-gradient(135deg, #1C3D4C, #4E707E);*/
  
}
.cadaPoder:hover{
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 
  0 0 15px rgba(255, 69, 58, 0.9),  /* Rojo intenso */
  0 0 30px rgba(255, 87, 34, 0.8),  /* Naranja brillante */
  0 0 45px rgba(255, 99, 71, 0.7),  /* Rojo tomate */
  0 0 60px rgba(255, 140, 0, 0.6),  /* Naranja oscuro */
  0 0 90px rgba(255, 69, 58, 0.5);  /* Rojo intenso (más suave) */
}
.check{
    display: grid;
    grid-template-columns: 1fr 1fr;

}




.cartaR {
    position: relative; /* Para que z-index funcione */
    transition: transform 0.5s, box-shadow 0.5s;
    z-index: 1; /* Valor base */
  }
  
  .cartaR:hover {
    transform: scale(1.1);
    box-shadow: 
      0 0 15px rgba(255, 69, 58, 0.9),   /* Rojo intenso */
      0 0 30px rgba(255, 87, 34, 0.8),   /* Naranja brillante */
      0 0 45px rgba(255, 99, 71, 0.7),   /* Rojo tomate */
      0 0 60px rgba(255, 140, 0, 0.6),   /* Naranja oscuro */
      0 0 90px rgba(255, 69, 58, 0.5);   /* Rojo intenso más suave */
    z-index: 10; /* Aumenta el z-index para traerlo al frente */
  }

  .classCardDestino{
  
    box-shadow: 
    0px 0px 15px 5px rgba(255, 215, 0, 0.9), /* Resplandor dorado intenso */
    0px 0px 30px 10px rgba(255, 215, 0, 0.7), /* Brillo dorado cálido */
    0px 0px 45px 15px rgba(255, 223, 0, 0.5), /* Brillo dorado expandido */
    0px 0px 60px 20px rgba(255, 223, 0, 0.4), /* Resplandor dorado suave */
    0px 0px 80px 25px rgba(255, 239, 0, 0.3); /* Resplandor dorado adicional */
  }

 
  .shadowBody:hover{
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 15px;
  
  }

  .imagenCartaPj{
    border:5px solid red;
    border-radius: 10px;
  }


  .tresCartas.empty {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  
